<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>MasterSelector</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.arialcrime.MasterSelector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MasterSelector</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/AlphabetType/MasterSelector/master/MasterSelector.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/AlphabetType/MasterSelector</string>
	<key>productReleaseNotes</key>
	<string>Synced slider with the list, added additional error windows, users will now be notified about new updates.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Benedikt Bramböck, 2018</string>
	<key>NSPrincipalClass</key>
	<string>MasterSelectorWindow</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
